<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='username' placeholder="Имя пользователя" autofocus>
  <input type="text" name='password' placeholder="Пароль" autofocus>
  <input class="btn primary" type='submit' value='Войти'>
</form>
