<table class="table table-striped">
<% @zaebet = @fefile.execute 'select * from Clients order by datetime desc'%>

<thead>
       <th>Имя</th>
       <th>Телефон</th>
       <th>Дата и время</th>
       <th>Мастер</th>
</thead>
<tbody>
       <% @zaebet.each do |row|%>
              <tr>
                     <td><%=row['name']%></td>
                     <td><%=row['phone']%></td>
                     <td><%=row['datetime']%></td>
                     <td><%=row['master']%></td>
              </tr>
       <%end%>
</tbody>
</table>